.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin: 50px 0px;
}

.blogListContents {
  max-width: 400px;
  padding: 50px;
  background-color: rgba(60, 60, 60, 0.5);
  border: 0.5px solid rgb(172, 172, 172);
  cursor: pointer;  
  border-radius: 20px;
  color: white;
}

.blogListContents:hover{
  transition: 0.5s;
  background: linear-gradient(90deg, rgba(1,117,218,1) 0%, rgba(0,131,154,1) 59%);
  color: white;
  box-shadow: 10px 10px 10px #4a4a4a;
}

.blogLink {
  /* color: #0175da; */
  /* background: linear-gradient(90deg, rgba(1,117,218,1) 0%, rgba(0,131,154,1) 59%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  font-size: 23px;
  margin-bottom: 20px;
}

.noDataAnymore {
  text-align: center;
}

.blogPage {
  margin: auto;
  text-align: center;
}

.bg {
  position: absolute;
  width: 500.12px;
  height: 702.21px;
  left: -186px;
  top: -254px;
  background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
  filter: blur(132px);
  z-index: 0;
}

