.blog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px 0px;
}

.blogListContents {
  width: 500px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 3px 5px 8px #d1d1d1;
  cursor: pointer;  
}

.blogListContents:hover{
  transition: 0.5s;
  background-color: rgb(174, 225, 245);
  box-shadow: 5px 8px 5px #888888;
  border: none;
}

.blogLink {
  color: black;
}

