body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.container {
  padding: 2rem 4rem;
  font: serif;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-right {
  display: flex;
  gap: 30px;
}

.link-navbar {
  color: black;
  text-decoration: none;
}

.link-navbar:hover {
  color: skyblue;
}

/* .blog-contents {
} */