.homePage {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: white;
}

.bg {
  position: absolute;
  width: 676.12px;
  height: 702.21px;
  left: -176px;
  top: -254px;
  background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
  filter: blur(132px);
}

.buttonHomeContainer {
  display: flex;
  gap: 30px;
  margin: 30px 0px;
}

@media only screen and (max-width: 600px) {
  .bg {
    display: none;
  }
  .homePage {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .buttonHomeContainer {
    flex-direction: column;
  }
}